%meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" )
%html
  %head
    %link(rel="stylesheet" type="text/css" href="style.css" )
  %body
    %section.section
      %h2
        Login
      %form(method="post" action="/login")
        %p
          name
          %input(type="text" name="username" )
        %p
          password
          %input(type="text" name="password" )
        %input(type="submit" value="Login" )
    %section.section
      %h2
        Register
      %form(method="post" action="/register")
        %p
          name
          %input(type="text" name="username" )
        %p
          password
          %input(type="text" name="password" )
        %input(type="submit" value="Register" )