%html
  %head
    %link(rel="stylesheet" type="text/css" href="/style.css" )
  %body
    %h1 Upload file
    %form(method="post" enctype='multipart/form-data')
      %p
        %input(type='file' name='myfile')
      %p
        name
        %input(type='text' name='name')
      %p
        %input(type="checkbox" name="public" checked="yes" )
        public?
      %br
      %input(type='submit' value='Upload!')
