body {
    background-color: #262626;
    font-family: sans-serif;
    color: #262626;
    width: 800px;
    max-width: 98%;
    margin: 0;
    margin-left: 1%;
}
.section {
    padding: 0.4em;
    margin: 0.5em 0em 0.5em 0em;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    background-color: #eeeeee;
}
.theimage {
    max-width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #262626;
}
.comment {
    margin: 10px 0px 10px 0px;
    background-color: #bbbbbb;
    border-radius: 5px;
    border-color: #bbbbbb #dddddd #eeeeee;
    border-style: solid;
    border-width: 1px;
    padding: 0.5em;
}
.commenter {
    font-weight: bold;
}
.comment_text{
    padding: 10px 10px 10px 10px;
    border-radius: 0px 0px 15px 15px;
    color: #444444;
}
.commentfield {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fcfcfc;
    border-color: #bbbbbb #dddddd #eeeeee;
    border-style: solid;
    border-width: 3px;
    color: #444;
    font-family: arial;
    line-height: 25px;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
    width: 100%;
}
.commentform {
    padding-top: 20px;
}
.commentbutton {
    float: right;
    padding: 0 10 0 10;
    border-color: #efefef;
    visibility: hidden;
}
.deletecomment {
    font-size: 0.5em;
    background-color: #eeeeee;
    border-radius: 4px;
    border-width: 1px;
    padding: 5 6 3 6;
    border-color: #fcfcfc transparent  transparent #fcfcfc;
    border-style: solid;
    float: right;
}
.deletecomment:hover {
}

.tagform{
    display:inline;
    padding-left: 5px;
}
.taginput {
    color: #aaaaaa;
    border-radius: 4px;
    border-width: 1px;
    font-size: 1em;
    width: auto;
}

.tagdeleter {
    padding-right: 10px;
    padding-left: -0px;
    margin-left: -4px;
    font-size: 0.5em;
    vertical-align: text-top;
}
.addtag {
    display: block;
    width: 100%;
}
.tagdeleter:hover {
    color: #ffc0cb;
}
.deleteimage:hover .deletex {
    color: #ffc0cb;
}
.deleteimage {
    float:right;
}
form {
    display:inline;
    margin: 0px;
}
.title_edit, .titletext {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: inline;
    font-size: 2em;
    border-style: hidden;
    background-color: transparent;
}
.title_edit {
    width: 100%
}